node_modules
.next
out
build
*.tsbuildinfo
next-env.d.ts

.env*
README.md
.gitignore
.dockerignore
npm-debug.log*
.eslintrc.json
.prettierrc.json

Dockerfile
compose.yaml
makefile

.DS_Store
.idea
.git
